.criteria-mat-form-filed {
  margin-right: 10px;
  width: 25vh;
}

.centered {
  display: flex;
  align-items: center;
}

.title {
  background-color: #5ebecb;
  color: white
}

.non-modal-width {
  width: 100%;
}

.dialog-content {
  height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-right {
  margin-right: 10px;
}

.save-filter-button {
  background-color: #156bba;
  color: white;
}

.close-button {
  background-color: #757575;
  color: white;
}

.add-criteria-button {
  background-color: #757575;
}

.add-criteria-button-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-actions {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.width-100 {
  width: 100px;
}

.form-row {
  display: flex;
}

.label {
  padding-top: 1.2rem;
}
